APP_NAME="LUDES-MARKET"
APP_ENV=local
APP_KEY=base64:Z2T3m527ptjZ2TSpHzWAKHM0DFVShu5aaEU9TF5EWn0=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=id
APP_FALLBACK_LOCALE=id
LOG_CHANNEL=stack
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_bumdes_berkah
DB_USERNAME=root
DB_PASSWORD=
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file
BCRYPT_ROUNDS=12
XENDIT_SECRET_KEY=xnd_development_iN8Krp4eRKgrJnEgyPYlxk6TTjzEFF3FJJ5FTHXjIFAob3SdEo6UhImcmPFO9yS
XENDIT_WEBHOOK_TOKEN=ahNrz1ioAjxCoVnd9QIzys5HKtW1u1gU27xdMQjCfzWwcALQ
XENDIT_SSL_VERIFY=false
XENDIT_PUBLIC_KEY=
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=apexzym@gmail.com
MAIL_PASSWORD=gfydexelcklnfkvm
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="apexzym@gmail.com"
MAIL_FROM_NAME="LUDES-MARKET Moncongloe Lappara"